.Cardproposal{
    background-color: rgb(252, 245, 245);
    border-radius: 10px;
    margin-top: 50px;
    border: none;
}
.cardproposal2{
    background-color: rgb(252, 245, 245);
    margin-top: 50px;
    border-radius: 10px;
    border: none;
}
.Next{
    margin-top: 100px;
    margin-bottom: 100px
}

.Nextt{
    margin-top: 200px
    
}
